.bg-overlay {
  background: transparent linear-gradient(232deg, #303f6080 0%, #1a253c80 100%)
    0% 0% no-repeat padding-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  max-height: 80%;
  max-width: 694px;
  width: 50%;
}
